h3 {
    text-align: center;
}

.contenedorPeliculasFavoritas{
    text-align: center;
}

.seccionPeliculas p{
    text-align: left;
}

.codigo,
.titulo-original,
.idioma-original,
.resumen {
    text-align: left; /* Alineación izquierda para los elementos */
}

.seccionPeliculas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 100px;
    grid-gap: 15px;

}

.seccionCartelera {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


.seccionPeliculas img {
    border-radius: 40px;
}


p {
    color: rgb(15, 80, 141);
    justify-content: center;
    font-size: small;
}

.seccion-alerta p {
    color: white;
    text-align: center;
    font-size: small;
}

.seccion-alerta {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.remove-favorite-button {
    background: #7f8c8d;
    color: white;
    display: flex;
    font-size: 10px;
    margin: 0px;
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #4b4848;
    border-radius: 50px;
}

.remove-favorite-button:hover {
    box-shadow: 0px 3px 0px;
}