

h3 {
    text-align: center;
}


.seccion-peliculas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 100px;
    grid-gap: 15px;

}

.seccion-peliculas .imagenfav {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50%;
    width: 100%;
}

.imagenfav img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    padding-bottom: 10px;
}

p {
    color: rgb(15, 80, 141);
    justify-content: center;
    font-size: small;
}

.seccion-alerta .peliculaAgregada {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 10px;
    width: 50%;
    margin: 10px 10px;
}

.seccion-alerta .peliculaExistente {

    background-color: #ffc107;
    color: white;
    padding: 10px;
    border: 1px solid #ffc107;
    border-radius: 10px;
    width: 50%;
    margin: 10px 10px;
}

.seccion-alerta .peliculaInexistente {

    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: 1px solid #dc3545;
    border-radius: 10px;
    width: 50%;
    margin: 10px 10px;
}

.seccion-alerta p{
    color: white;
    text-align: center;
    font-size: small;
}

.seccion-alerta{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }